.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules>li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules>li>div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules>li {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.modules-button {
    background-color: lightgrey;
    margin: 5px;
    padding: 5px;
    font: black;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100px;
    margin-right: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    float: right;
}

.red-background {
    background-color: red;
    color: white;
}