.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules>li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules>li>div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules>li {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.modules-button {
    background-color: lightgrey;
    margin: 5px;
    padding: 5px;
    font: black;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100px;
    margin-right: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    float: right;
}

.large-button {
    padding: 3px;
    font-size: 14px;
    border-radius: 5px;
}

.small-button {
    padding: 2px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
    float: right;
}

#delete-button {
    background-color: red;
    color: white;
}

#edit-button {
    background-color: green;
    color: white;
}

#add-button {
    background-color: green;
    color: white;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#update-button {
    background-color: blue;
    color: white;
}

.red-background {
    background-color: red;
    color: white;
}

#modules-input {
    border-radius: 5px;
    padding: 5px;
    width: 75%;
}

.buttons-div {
    float: right;
    border: none;
}