.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 80px;
    height: 100%;
}

.wd-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
    color: red;
}

.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
}

#white-icon {
    color: white;
}

.x {
    float: right;
    font: 40px;
    margin: 40px;
    color: black;
}

.fs-2 {
    color: red;
}

.account {
    color: grey;
}

.a {
    max-width: 80px;
}

.wd-northeastern_n {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border: 0;
}